name: flutter_coletor
description: "poc para leitura de tags RFID usando coletores TSL/ACURA via Bluetooth"
publish_to: 'none'
version: 0.1.0
repository: "https://github.com/thkali/flutter_coletor"

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
